*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'M PLUS 1', sans-serif;

}

html{
    scroll-behavior: smooth;
}

header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 15px 22px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.logo img{
    height: 40px;
}

nav>.navlinks{
    color: #171a20;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 500;
    font-family: 'M PLUS 1', sans-serif;
}

header>.center{
    text-align: center;
}

.showdesktop{
    display: none;
}

@media(min-width: 1200px){
    .showdesktop{
        display: initial;
    }
}

.menu-tems-tbar{
    display: none;
}

@media(max-width: 1200px){
    #menu{
        background-color: rgb(65, 66, 67,0.1);
        border-radius: 5px;  
    }
    .menu-tems-tbar{
        display: block;
        color: #171a20;
        text-decoration: none;
        padding: 10px 0px;
        padding-left: 10px;
        font-size: 14px;
        font-weight: 500;
    }
    .sidebaractive{
        overflow-y: scroll;
    }

    .sidebaractive::-webkit-scrollbar{
        display: none;
    }
}

.right{
    text-align: right;
}

.navlinks:hover{
    background-color: rgb(65, 66, 67,0.1);
    border-radius: 5px;
}

.menu-pages h3{
    text-align: center;
}

/* ...............................background......................................................... */

.section{
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section2{
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgb(13, 1, 1);
}

.menu-tems:hover{
    background-color: rgb(65, 66, 67,0.1);
    border-radius: 5px;
}

.menu-tems-tbar:hover{
    background-color: rgb(65, 66, 67,0.1);
    border-radius: 5px;
}

.section .content{
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

.section h1{
    font-size: 3rem;
    transition: color .33s ease;
}

.section a{
    color: #171a20;
}

.section .button a{
    display: block;
    background-color:rgba(244, 244, 244, 0.65);
    color: #171a20;
    padding: 13px 70px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 15px;
}

.section .button{
    display: grid;
    row-gap: 20px;
    margin: 0 48px;
}

.section .button a:first-child{
    background-color: rgba(23, 26, 32, 0.8);
    font-weight: 600;
    color: #fff;
}

.button2{
    background-color: rgba(4, 4, 4, 0.8);
    font-weight: 600;
    width: 20%;
    margin: 0 auto;
    padding: 12px 70px;
    border-radius: 5px;
    font-size: 15px;
}

.button2>a{
    color: rgb(250, 249, 249);
    text-decoration: none;
}

@media(min-width : 768px) {
    .section .button{
        max-width: 640px;
        margin: 0 auto;
        grid-template-columns: 2fr 2fr;
        column-gap: 20px;
    }
}

/* ...........................................Buttons.............................................. */

.btn{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.btn button{
    background-color: rgb(38, 104, 245);
    color: antiquewhite;
    border: none;
    padding: 15px;
}

.btn button:hover{
    background-color: white;
    color: rgb(38, 104, 245);
    border: 2px solid rgb(38, 104, 245);
    padding: 15px;
}

.blank{
width: 20px;
}

/* ..........................................Sidebar.............................................. */

.sidebar{
    position: fixed;
    transition: right .4s ease;
    background-color: #fff;
    right: -300px;
    width: 300px;
    padding: 50px 30px;
    z-index: 5;
    height: 100vh;
}

.menu-tems{
    display: block;
    color: #171a20;
    text-decoration: none;
    padding: 10px 0px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.close{
    font-size: 25px;
    border: 0;
    background-color: transparent;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 100;
    cursor: pointer;
    position: fixed;
    top: 0;
    padding-left: 250px;
    background-color: #fff;
}

.blur-bg{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    transition: .4s ease;
}

.sidebaractive{
    right: 0;
    position: fixed;
    transition: right .4s ease;
    width: 300px;
    background-color: #fff;
    padding: 50px 30px;
    z-index: 4;
    height: 100vh;
}

.blur-bgaactive{
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    transition: .4s ease;
}

.glob{
    display: flex;
    gap: 10px;
}

/* ..................................................Footer......................................... */

.footer{
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer-item{
    color: #171a20;
    text-decoration: none;
    padding: 0px 10px;
    font-weight: 500;
    font-family: 'M PLUS 1', sans-serif;
    position: relative;
    bottom: 30px;
}

.menu-pages{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}